body {
    background-image:url(https://images.unsplash.com/photo-1670172944755-c7588d1dcd8d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
    }
    .flex-conteiner, li {
        display:inline-block;
        margin-left:10px;
        margin-right: 20px;
        margin-top: 100px;
   
  }

  .word {
    list-style-type: none;
   padding: 10px;
   background-color:rgba(228, 233, 214, 0.233);
}

.text {
    font-size: 45px;
    text-decoration:underline;
    padding-bottom: 20px;
    color:rgba(15, 10, 10, 0.459);
    text-align:center; 
 }


 p {
  font-weight:bold;
    text-align: center;
    color: #0a0a0a;
  }


  .flex{
    font-size: 20px;
    display:flex;
    text-align: center;
    color:black;
    }

    .dilay{
        padding-top:100px;
        text-align: center;
        color:black;
        }
    .text-block {
        font-size: 25px;
      padding-bottom:20px;
      padding-top: 20px;
    
    }

    a {
      color:#0d0b86;
      font-weight:bold;
    }